<html>
<head>
    <script src="/fetchx.js"></script>
</head>
<body>
    <h3>Place Name: <bold>{{place}}</bold></h3>
    <h3>Tempeature:<bold>{{temp}}</bold></h3>
    <h3>Pressure:<bold>{{pressure}}</bold></h3>
    <h3>Wind Speed:<bold>{{wind}}</bold></h3>
</body>
</html>